$color-green: #5fbb9d;
$primary-a: #003a37;
$primary-b: #045149;
$secondary-a: #15543c;
$secondary-b: #21664d;
$tertiary-a: #9ec5c6;
$tertiary-b: #bfdbdd;
$neutral-1a: #e2dfd5;
$neutral-1b: #f2f0e4;
$neutral-2a: #dae0e5;
$neutral-2b: #e6eaef;